@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "./variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #__next {
    @apply flex min-h-full flex-col;
  }
}

/*=============== 
Spinner
================*/

.spinner-container {
  position: relative;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: "blue";
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $grey-clr2;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3b3b3b;
}
